
@{
    ViewBag.Title = "Land";
}

<body style="background-color:lightgreen;">
    <h1 style="color:black; font-size: 45px; text-align: center; font-weight: bold;">
        OUR LAND
    </h1>
    <div style="display: flex; align-items: center;">
        <img src="~/Content/Style/PICTURES/land.jpg" style="width: 500px; height: 500px; margin-right: 10px;" />
        <div style="font-size: 40px;">
            <p>Name:</p>
            <p>Years:</p>
            <p>Location:</p>
            <p>Crops Planted:</p>
            <p>Soil:</p>
        </div>
    </div>

    <div style="font-size: 20px; font-weight: bold; text-align:right;">
        <a href="@Url.Action("homepage", "homepage")" style="text-decoration: none;">BACK<<</a>
    </div>
</body>